.artPage {
  background: #000;
    padding-top: 50px;
}

.searchSec{
    background: #aaa;
    width: 500px;
    margin: auto;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.searchSec input{
    min-height: 20%;
    border-radius: 5px 5px 0 0;
    text-align: center;
}
.genres{
    min-height: 80%;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
span{
    margin: auto 10px;
    padding: 2px 4px;
    border-radius: 5px;
}
.genre1{
    color: #fff;
    background: #167C80;
}

.genre2{
    background: #a3dfe0;
    color: #F03F35;
}

.genre3{
    background: #FBCBC1;
    color: #000;
}

.genre4{
    background: #EF3E4A;
    color: #96CBD1 ;
}

.genre5{
    background: #EEC0DB;
    color: #162BF4;
}






.changePage {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
  padding-top: 100px;
  align-items: center;
}
.pageN {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.page {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  background: #4b6afb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.fanContainer{
    display: flex;
    width: 70vw;
    justify-content: space-around ;
    flex-wrap: wrap;
    margin: auto;
    padding: 50px 10px;

}
.fan-card{
    height: 400px;
    width: 280px;
    box-shadow: 1px 1px 10px 0px #fff;
    margin: 20px auto;
    position: relative;
    border-radius: 20px;
    cursor: pointer;
}
.fan-card img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    
}
.fan-info{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 20%;
    color: #fff;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 20px 20px ;
}
